<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mikasa Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="bg-animation"></div>

<div class="container">

    <div class="card glow-card">

        <h1 class="title">Mikasa Login</h1>
        <p class="subtitle">Cyber Secure Access</p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert">{{ msg }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="POST">

            <div class="input-box">
                <input type="text" name="username" required>
                <label>Username</label>
            </div>

            <div class="input-box">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button type="submit" class="btn">
                Login
            </button>

        </form>

        <p class="bottom-text">
            Don't have an account?
            <a href="/register">Register</a>
        </p>

        <div class="glow-circle one"></div>
        <div class="glow-circle two"></div>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>